.container_home {
    display: grid;
    place-items: center;
    text-align: center;
}
.container_home h2 {
    margin:70px 0;
}
.container_home p {
    font-size: 30px;
    margin-bottom: 5px;
}
span {
    color: rgb(230, 72, 33);
    font-size:larger;
    font-weight: bold;
}
.container_imagen {
    max-width: 30rem;
}